<div class="view error-view">
	<div class="row">
		<div class="col-xs-12">
			<p>&nbsp;</p>
			<h2 class="text-center">Sorry! There was a problem.</h2>
			<hr>
			<!-- <div class="alert alert-danger"> -->
			<!-- <div class="well text-center color-primary">
				Please use your browser's back button to return to the previous page, then try again.
			</div> -->
			<!-- <p class="alert"> -->
			<p>
				Please use your browser's back button to return to the previous page, then try again.
				<br /><br />
				If this problem persists, please provide this error information to your support team:
			</p>

			<!-- <div class="well text-center">
				<div class="" ng-repeat="e in errors">
					<strong>{{e}}</strong>
				</div>
			</div> -->

			<div class="alert alert-danger text-center col-xs-12">
  				<div class="col-xs-12" ng-repeat="e in errors">
  					<strong>{{e}}</strong>
  				</div>
  			</div>

		</div>
	</div>
</div>