<div class="view login-view" ng-show="ready">
	<div class="row">
		<div class="col-xs-12">
			<div class="header text-center">
				<img ng-show="logoUrl" class="logo" ng-src="{{logoUrl}}"/>
				<h1>Welcome back!</h1>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="email-password-area col-xs-12 large">

			<div class="alert alert-danger bad-login" ng-show="errors.badLogin">
				Invalid username or password.
			</div>
			<div class="alert alert-danger not-found" ng-show="errors.notFound">
				<span>Account does not exist. Do you need to </span>
				<a href="#/register">create an account</a>
				<span>?</span>
			</div>
			<div class="alert alert-danger" ng-show="errors.unknown">An unkown error has occurred</div>
			<div class="alert alert-danger" ng-show="errors.emailPasswordRequired">Please enter your email and password.</div>
			<div class="alert alert-danger" ng-show="errors.userMessage">
				<strong>Sorry, an error occured.  Please return to the previous page and try again.</strong>
				<br/>
				<br/>
				<p>{{errors.userMessage}}</p>
			</div>

			<form class="login-form form-horizontal" role="form" ng-submit="submit()">
				<legend>
					<div class="row">
						<div class="col-xs-6">
							Log in
						</div>
						<div class="col-xs-6 text-right" ng-show="canRegister" class="pull-right" wd-can-register>
							<!-- <small><a href="#register">Not a member? Sign up</a></small> -->
						</div>
					</div>
				</legend>

				<!-- Begin Organizations -->
				<div class="form-group group-email" ng-show="showOrganizationField" ng-class="{'has-error': (errors.organizationNameKeyInvalid || errors.organizationNameKeyRequired)}">
					<!-- <label ng-class="[hasProviders ? 'col-sm-12' : 'col-sm-4']">Organization</label> -->
					<label class="col-sm-12">Organization</label>
					<!-- <div ng-class="[hasProviders ? 'col-sm-12' : 'col-sm-8']"> -->
					<div class="col-sm-12">
						<input class="form-control" type="text" name="organizationNameKey" ng-model="organizationNameKey" placeholder="Organization" ng-disabled="disableOrganizationField"/>

						<span ng-if="errors.organizationNameKeyRequired" class="help-block">
							An organization name is required.
						</span>
						<span ng-if="errors.organizationNameKeyInvalid" class="help-block">
							Invalid Organization Name.
						</span>
					</div>
				</div>
				<!-- /End Organizations -->

				<div class="form-group group-email">
					<!-- <label ng-class="[hasProviders ? 'col-sm-12' : 'col-sm-4']">Email</label> -->
					<!-- <div ng-class="[hasProviders ? 'col-sm-12' : 'col-sm-8']"> -->
					<div class="col-sm-12">
						<input class="form-control" type="text" name="username" ng-model="username" placeholder="Email"/>
					</div>
				</div>
				<div class="form-group group-password">
					<!-- <label ng-class="[hasProviders ? 'col-sm-12' : 'col-sm-4']">Password</label> -->
					<!-- <div ng-class="[hasProviders ? 'col-sm-12' : 'col-sm-8']"> -->
					<div class="col-sm-12">
						<input class="form-control" type="password" name="password" ng-model="password" placeholder="Password"/>
					</div>
				</div>
				<div class="form-group group-remember-me">
					<!-- <div class="col-sm-8" ng-class="[hasProviders ? '' : 'col-sm-offset-4']"> -->

					<div class="col-xs-6">
						<input type="checkbox" id="remember">
						Remember me?
					</div>
					<div class="col-xs-6 text-right forgot-pass">
						<a href="#forgot">Forgot password?</a>
					</div>

				</div>
				<div>
					<!-- <button class="login btn btn-login btn-sp-green" type="submit" ng-disabled="submitting">Log In</button> -->
					<button class="login capitalize btn btn-primary btn-lg btn-login btn-block" type="submit" ng-disabled="submitting">Submit</button>
				</div>
			</form>
		</div>
	</div>
</div>






