<div class="container view login-view no-padding" ng-show="ready">
	<h1 class="text-center">Welcome back!</h1>
	<br />

	<div class="row">
		<!-- <div class="email-password-area  col-xs-12" ng-class="[hasProviders ? 'small col-sm-8' : 'large col-sm-12']"> -->
		<div class="email-password-area col-xs-12 large col-sm-12">
			<!-- <div class="header">
				<span>Log Into your Bond ^^Account*********</span>
				<span ng-show="canRegister" wd-can-register>
					<span> or </span>
					<a href="#register">Create an Account</a>
				</span>

			</div> -->
			<div class="alert alert-danger bad-login" ng-show="errors.badLogin">
				Invalid username or password.
			</div>
			<div class="alert alert-danger not-found" ng-show="errors.notFound">
				<span>Account does not exist. Do you need to </span>
				<a href="#/register">create an account</a>
				<span>?</span>
			</div>
			<div class="alert alert-danger" ng-show="errors.unknown">An unkown error has occurred</div>
			<div class="alert alert-danger" ng-show="errors.emailPasswordRequired">Please enter your email and password.</div>
			<div class="alert alert-danger" ng-show="errors.userMessage">
				<strong>Sorry, an error occured.  Please return to the previous page and try again.</strong>
				<br/>
				<br/>
				<p>{{errors.userMessage}}</p>
			</div>
			<form class="login-form form-horizontal" role="form" ng-submit="submit()">
				<legend>
					<div class="row">
						<div class="col-xs-6">
							Log in
						</div>
						<div class="col-xs-6 text-right" ng-show="canRegister" class="pull-right" wd-can-register>
							<small><a href="#register">Not a member? Sign up</a></small>
						</div>
					</div>
				</legend>

				<!-- Begin Organizations -->
				<div class="form-group group-email" ng-show="showOrganizationField" ng-class="{'has-error': (errors.organizationNameKeyInvalid || errors.organizationNameKeyRequired)}">
					<!-- <label ng-class="[hasProviders ? 'col-sm-12' : 'col-sm-4']">Organization</label> -->
					<label class="col-sm-12">Organization</label>
					<!-- <div ng-class="[hasProviders ? 'col-sm-12' : 'col-sm-8']"> -->
					<div class="col-sm-12">
						<input class="form-control" type="text" name="organizationNameKey" ng-model="organizationNameKey" placeholder="Organization" ng-disabled="disableOrganizationField"/>

						<span ng-if="errors.organizationNameKeyRequired" class="help-block">
							An organization name is required.
						</span>
						<span ng-if="errors.organizationNameKeyInvalid" class="help-block">
							Invalid Organization Name.
						</span>
					</div>
				</div>
				<!-- /End Organizations -->



				<div class="form-group group-email">
					<!-- <label ng-class="[hasProviders ? 'col-sm-12' : 'col-sm-4']">Email</label> -->
					<!-- <div ng-class="[hasProviders ? 'col-sm-12' : 'col-sm-8']"> -->
					<div class="col-sm-12">
						<input class="form-control" type="text" name="username" ng-model="username" placeholder="Email"/>
					</div>
				</div>
				<div class="form-group group-password">
					<!-- <label ng-class="[hasProviders ? 'col-sm-12' : 'col-sm-4']">Password</label> -->
					<!-- <div ng-class="[hasProviders ? 'col-sm-12' : 'col-sm-8']"> -->
					<div class="col-sm-12">
						<input class="form-control" type="password" name="password" ng-model="password" placeholder="Password"/>
					</div>
				</div>
				<div class="form-group group-remember-me">
					<!-- <div class="col-sm-8" ng-class="[hasProviders ? '' : 'col-sm-offset-4']"> -->

					<div class="col-xs-6">
						<input type="checkbox" id="remember">
						<label for="remember">Remember me?</label>
					</div>
					<div class="col-xs-6 text-right forgot-pass">
	                    <a href="#forgot">Forgot password?</a>
	                </div>

				</div>
				<div class="clearfix">
					<!-- <button class="login btn btn-login btn-sp-green" type="submit" ng-disabled="submitting">Log In</button> -->
					<button class="login capitalize btn btn-primary btn-lg btn-login btn-block" type="submit" ng-disabled="submitting">Submit</button>
				</div>

				<!-- <a class="forgot" href="#forgot">Forgot Password?</a> -->
			</form>
		</div>

		<!-- 
			Google Login
		<div class="provider-area  col-xs-12 col-sm-4" ng-show="hasProviders">
			<div class="header">&nbsp;</div>
			<label>Easy 1-click login:</label>
			<button ng-repeat="provider in providers" class="btn btn-social btn-{{provider.providerId}}" ng-click="providerLogin(provider)">{{provider.accountStore ? provider.accountStore.name : provider.providerId}}</button>
		</div> -->

	</div>

	


</div>

<!-- <div class="container">
  	<div class="row">
  		<div class="col-md-12">
			<div class="row">
				<div class="col-xs-12">
					<div class="header text-center">
						<img src="https://bond.co/assets/www/img/logo.png" alt="" class="logo" />
						<h1>Welcome back!</h1>
					</div>
				</div>
			</div>


			<div class="row">
				<div class="col-xs-12">
					<div class="alert alert-success">
						This is a <strong>success alert!!</strong>
					</div>
					<div class="alert alert-danger">
						This is an <strong>error alert!!</strong>
					</div>
				</div>
			</div>


			<div class="row">
				<div class="col-xs-12">
					<form>
						<legend>
							<div class="row">
								<div class="col-xs-6">
									Log in
								</div>
								<div class="col-xs-6 text-right">
									<small><a href="#">Not a member? Sign up</a></small>
								</div>
							</div>
						</legend>
						<div class="form-group has-error">
							<input type="email" class="form-control" placeholder="Email">
							<span class="help-block">This is the error</span>
						</div>
						<div class="form-group">
							<input type="password" class="form-control" placeholder="Password">
						</div>
						<div class="row">
							<div class="col-xs-6">
								<div class="form-group">
									<input type="checkbox" value=""> Remember me?
								</div>
							</div>
							<div class="col-xs-6 text-right">
								<div class="form-group">
									<a href="#">Forgot password?</a>
								</div>
							</div>
						</div>
						<input type="button" name="name" value="Submit" class="btn btn-primary btn-lg btn-block">
					</form>
				</div>
			</div>
		</div>
	</div>
</div> -->





